.card__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
  padding-bottom: 18px;
}


@media screen and (min-width: 1440px) {
  .card__text {
    padding-bottom: 18px;
  }
}

@media screen and (max-width: 1439px) {
  .card__text {
    padding-bottom: 12px;
  }
}
