.button {
  width: 168px;
  height: 64px;
  color: white;
  cursor: pointer;
  border: none;
  background: #2F71E5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;

  /* opacity: 1; */
    transition: background .2s;

}

.button:hover {
  background:#347EFF;
  outline: none;

  /* opacity: .4; */
  transition: background .2s;

}

.button:focus {
  background:#2A65CC;
  outline: none;
  transition: background .2s;
}