@import url(./_type/_one/form__fieldset_type_one.css);
@import url(./_type/_two/form__fieldset_type_two.css);

.form__fieldset {
width: 100%;
height: 68px;
padding: 0;
border: none;
margin-bottom: 15px;
}