@import url(./_remove/card__notification-text_remove.css);
@import url(./_tag/card__notification-text_tag.css);
.card__notification-text {
  padding: 0;
  margin: 0;
  display: flex;
  font-family: 'Roboto', Verdana, 'Geneva CY', 'San-serif';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  align-items: center;
  text-align: center;
  color: #000000;
}
