@import url(./_tag/result__notification-text_tag.css);
@import url(./_remove/result__notification-text_remove.css);
.result__notification-text {
  padding: 0;
  margin: 0;
  display: flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}