.button.search__button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}


@media screen and (min-width: 1440px) {
 .button.search__button{

  }
}

@media screen and (max-width: 1439px) {
  .button.search__button {
    height: 56px;
  }
}

@media screen and (max-width: 767px) {
 .button.search__button{
  position: static;
  margin-top: 16px;
  width: 100%;
  }
}

@media screen and (max-width: 320px) {
 .button.search__button{

  }
}