.result__content-title {
  /* background: aqua; */
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  padding: 0;
  margin: 0;
}


@media screen and (max-width: 768px) {
  .result__content-title {
    font-size: 30px;
    line-height: 34px;
  }
}
