@import url(./_disabled/result__btn_disabled.css);

.result__btn {
  background: #fff;
  border-radius: 80px;
  color: #1a1b22;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  width: 288px;
  height: 64px;
  box-shadow: none;
  margin: 0 auto;
  display: block;
}

.result__btn:hover {
  background: #e8e8e9;
}

.result__btn:focus {
  background: #e8e8e9;
}
