.header__cross {
  display: flex;
  width: 24px;
  height: 24px;
  background: url('../../../images/cross-icon.svg');
  background-size: cover;
  /* transition: background .2s; */
  cursor: pointer;
  margin: auto 0;
}
