.footer__container {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-direction: row;
  width: 1232px;
  height: 80px;
  margin: 0 auto;
  background-color: #fff;
}

@media screen and (max-width: 1439px) {
  .footer__container {
      width: calc(100% - 80px);
      max-width: 1232px;
      height: 64px;
  }
}

@media screen and (max-width: 767px) {
  .footer__container {
    width: calc(100% - 32px);
    flex-direction: column-reverse;
    margin-bottom: 22px;
    height: 176px;
  }
}
