.content-subtitle {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  text-align: left;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
}