@import url(./_enabled/card__tag_enabled.css);

.card__tag {
  height: 40px;
  background: #FFF;
  box-shadow: 0px 10px 22px rgba(59, 74, 116, 0.1);
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5px;
  display: none;
  align-content: center;
  position: absolute;
  height: 40px;
  left: 24px;
  top: 24px;
}


@media screen and (max-width: 1439px) {
  .card__tag {
    left: 16px;
    top: 16px;
  }
}
@media screen and (max-width: 1280px) {
  .card__tag {
    left: 8px;
    top: 8px;
  }
}

@media screen and (max-width: 820px) {
  .card__tag {
    max-width: 140px;
  }
}

@media screen and (max-width: 767px) {
  .card__tag {
    left: 16px;
    top: 16px;
    max-width: none;
  }
}
