.intro-art__text {
  font-size: 18px;
  line-height: 24px;
}

@media screen and (max-width: 1439px) {
  .intro-art__text {
    font-size: 14px;
    line-height: 24px;
  }
}

@media screen and (max-width: 767px) {
  .intro-art__text {
    display: inline-block;
    font-size: 18px;
    line-height: 24px;
  }
}
