.not-found__text {
  width: 356px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #b6bcbf;
  margin: 0 auto;
  padding-top: 16px;
}

@media screen and (max-width: 767px) {
  .not-found__text {
    width: calc(100% - 32px);
    max-width: 356px;
  }
}
