.auth-btn__logout-icon.auth-btn__logout-icon_theme_dark {
  background: url('../../../../../images/logout-btn-dark.svg');
}

/*
@import url(./_saved/card__save-article-btn_saved.css);
.card__save-article-btn {
  width: 40px;
  height: 40px;
  background: url('../../../images/flag-icon-grey.svg');
  background-size: cover;
  transition: background .2s;
  cursor: pointer;
}

.card__save-article-btn:hover {
  background: url('../../../images/flag-icon-black.svg');
  transition: background .2s;
} */