@import url(./_black/header__sandwich_black.css);
.header__sandwich {
  display: flex;
  width: 24px;
  height: 24px;
  background: url('../../../images/sandwich-icon.svg');
  background-size: cover;
  /* transition: background .2s; */
  cursor: pointer;
  margin: auto 0;
}




