@import url('./_bold/text_bold.css');
.text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  /* color: #FFFFFF; */
  margin: 0;
  padding: 0;
}