.card__save-article-container {
  position: absolute;
  height: 40px;
  right: 24px;
  top: 24px;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
}

@media screen and (max-width: 1439px) {
  .card__save-article-container {
    right: 16px;
    top: 16px;
  }
}

@media screen and (max-width: 1280px) {
  .card__save-article-container {
    right: 8px;
    top: 8px;
  }
}

@media screen and (max-width: 767px) {
  .card__save-article-container {
    right: 16px;
    top: 16px;
  }
}
