.intro-art__title {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
  padding-bottom: 28px;
}


@media screen and (min-width: 1440px) {
  .intro-art__title {

  }
}

@media screen and (max-width: 1439px) {
  .intro-art__title {
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 767px) {
  .intro-art__title {
    font-size: 12px;
    line-height: 24px;
  }
}

@media screen and (max-width: 500px) {
  .intro-art__title {

  }
}