@import url(./__content/popup__content.css);
@import url(./__close/popup__close.css);
@import url(./__title/popup__title.css);
@import url(./_is-opened/popup_is-opened.css);
@import url(./__reg-enter/popup__reg-enter.css);
@import url(./__link/popup__link.css);
@import url(./__text/popup__text.css);


.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* display: flex; */
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 2;
  font-family: 'Roboto';
  font-style: normal;
  color: #1A1B22;
}
